* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style-type: none !important;
  box-sizing: border-box !important;
}

nav {
  background-color: black;
}

.line {
  height: 3px;
  width: 35px;
  background-color: white;
  display: inline-block;
}

.ms_100 {
  margin-left: -100%;
}

.nav_open {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: black;
  transition: all 0.3s linear;
}

.close_button {
  position: absolute;
  right: 40px;
  top: 40px;
}
.close_button span {
  height: 3px;
  width: 35px;
  background-color: white;
  display: inline-block;
}

.close_button span:first-child {
  transform: rotate(45deg);
}

.close_button span:last-child {
  transform: rotate(-45deg);
}
@media (min-width: 768px) {
  .nav_open {
    all: unset;
  }
}

.tabButton {
  background-color: #284560;
  border: 0;
  color: white;
  padding: 48px;
}
.bg_para {
  background-color: #66747d;
}
.zIndex_1 {
  z-index: 1;
}
.zIndex_0 {
  z-index: 0;
}

.fix-screen {
  overflow: hidden;
}

.z_index_99 {
  z-index: 99;
}
